@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Congrats you have won a lottery</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
     
        @Html.ActionLink("Click Here to claim your price", "Create")
    </div>
   
</div>

@*@Html.Action("Test")*@

